body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 260px;
    padding: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px); /* Adjusted to account for header and footer height */
}

.main-content {
    width: 70%; /* Adjust this value to make the content area wider or narrower */
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Ensures text inside main-content is centered */
}

.biodata-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.biodata-photo {
    margin-right: 20px;
}

.biodata-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.biodata-details {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.center {
    text-align: center;
    vertical-align: middle;
}

h1 {
    color: black;
}

header h1 {
    color: white;
}
