/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0bbaf4;
    color: hsl(327, 91%, 49%);
  }
  .bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
  
  .container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  header {
    text-align: center;
    background: #007BFF;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .about-section .text-section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-section h2 {
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .about-section p {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .section h3 {
    margin-bottom: 10px;
    color: #333;
    border-left: 5px solid #007BFF;
    padding-left: 10px;
  }
  
  .section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .section ul li {
    background: #007BFF;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: hsl(131, 97%, 48%);
    color: #fff;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
  }
